<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Categoria
    <small>{{ formLabel }}</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="box box-primary" style="max-width:600px; margin:auto;">
    <div class="box-body">      
      <form [formGroup]="form" class="form-size-limited" (ngSubmit)="onConfirm()">
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <input type="text"
                 id="descricao"
                 class="form-control"
                 placeholder="Descrição"
                 formControlName="descricao">
          <div class="text-red" *ngIf="form.get('descricao').touched && form.get('descricao').invalid">
            <span *ngIf="form.get('descricao').hasError('required')">Campo obrigatório</span>
            <span *ngIf="form.get('descricao').hasError('minlength')">Mínimo de 3 caracteres</span>
            <span *ngIf="form.get('descricao').hasError('maxlength')">Máximo de 60 caracteres</span>
          </div>
        </div>
        <div class="form-group">
          <label for="cor">Cor</label>
          <input type="color"
                 id="cor"
                 class="form-control"
                 formControlName="cor">
          <div class="text-red" *ngIf="form.get('cor').touched && form.get('cor').invalid">
            <span *ngIf="form.get('cor').hasError('required')">Campo obrigatório</span>
          </div>
        </div>        
        <div style="margin-top:15px; text-align:right;">
          <button type="submit" class="btn btn-primary" style="margin-right:5px;">
            <i class="fa fa-check" aria-hidden="true"></i> Salvar
          </button>
          <button type="button" class="btn btn-default" (click)="onClose()">
            <i class="fa fa-times" aria-hidden="true"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
