<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        404
        <small>Not Found</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    
    <div class="box box-primary">            
        <div class="box-body">
            <p>Pagina não encontrada</p>
            <p></p>
            <button class="btn btn-primary" (click)="home()">Retornar para Home</button>
        </div>
    </div>
</section><!-- /.content -->	