<section class="content-header">
  <h1>
    Perfil
    <small>{{ formLabel }}</small>
  </h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-body">
      <form [formGroup]="form" (ngSubmit)="onConfirm()">        
        <mat-form-field class="full-width">
          <mat-label>Perfil</mat-label>          
          <mat-select formControlName="perfil" placeholder="Selecione o perfil">            
            @for (p of perfis; track p) {
              <mat-option [value]="p">
                {{ p }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <p></p>        
        <div style="margin-top:15px; text-align:right;">
          <button type="submit" class="btn btn-primary" style="margin-right:5px;">
            <i class="fa fa-check" aria-hidden="true"></i> Salvar
          </button>
          <button type="button" class="btn btn-default" (click)="onClose()">
            <i class="fa fa-times" aria-hidden="true"></i> Cancelar
          </button>        
        </div>
      </form>
    </div>
  </div>
</section>
