<div class="login-page">    
    <div class="login-box">
        <div class="login-box-body">
            <h1 class="text-center">Login</h1>                
            <div class="modal-body">                    
                <form class="needs-validation" novalidate [formGroup]="form">                    
                    <app-input-container errorMessage="Email inválido" label="Email">                    
                        <input type="text"class="form-control" id="email" placeholder="Email" formControlName="email"/>
                    </app-input-container>                    
                    <app-input-container errorMessage="Campo Obrigatório" label="Password">                            
                        <input type="password" class="form-control" id="senha" placeholder="Password" formControlName="senha"/>
                    </app-input-container>                    
                    <span class="text-red" *ngIf="hasError"><i class="fa fa-remove"></i>{{ erros }}</span>
                    <p></p>          
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="login()">Login</button>{{' '}}                        
                    </div>
                </form>         
                <p></p>                                    
                <ul class="">
                    <li><a [routerLink]="['/security/registrar']">Novo cadastro</a></li>   
                    <li><a (click)="forgotPass()" class="pointer">Esqueceu a senha?</a></li>   
                </ul>
            </div>
        </div>
    </div>
</div>