<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">  
        <li class="header">Menu</li>        
        <li><a [routerLink]="['/financ/home']"><i class="fa fa-home"></i> <span>Home</span></a></li>                        
        <hr style="margin:1px" />               
        <li><a [routerLink]="['/financ/despesa']"><i class="fa fa-dollar"></i> <span>Despesas</span></a></li>                        
        <li><a [routerLink]="['/financ/categoria']"><i class="fa fa-tags"></i> <span>Categorias</span></a></li>                        
        <li><a [routerLink]="['/financ/conta']"><i class="fa fa-credit-card"></i> <span>Contas</span></a></li>                        
        <!--
        <li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Categorias</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">            
            <li><a [routerLink]="['/categoria/']"><i class="fa fa-circle-o"></i>Lista</a></li>
            <li><a [routerLink]="['/categoria/novo']"><i class="fa fa-circle-o"></i>Adiciona</a></li>
          </ul>
        </li>        
        <li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Despesas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">            
            <li><a [routerLink]="['/despesa']"><i class="fa fa-circle-o"></i>Lista</a></li>
            <li><a [routerLink]="['/despesa/novo']"><i class="fa fa-circle-o"></i>Adiciona</a></li>
          </ul>
        </li>                -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>