<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">  
        <li class="header">Menu</li>        
        <li><a (click)="onHome()"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li><a (click)="onDespesa()"><i class="fa fa-dollar"></i> <span>Despesas</span></a></li>
        <li><a (click)="onCategoria()"><i class="fa fa-tags"></i> <span>Categorias</span></a></li>
        <li><a (click)="onConta()"><i class="fa fa-credit-card"></i> <span>Contas</span></a></li>        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>