<div class="modal-content">
  <div class="modal-header">    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Selecione um periodo:</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">    

      <app-input-container errorMessage="Campo Obrigatorio" label="Data Inicial">            
        <input type="month" class="form-control" id="dtInicial" formControlName="dtInicial"/>
      </app-input-container>      

      <app-input-container errorMessage="Campo Obrigatorio" label="Data Final">            
        <input type="month" class="form-control" id="dtFinal" formControlName="dtFinal"/>
      </app-input-container>                
      
    </form>    
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="onClose()"
    >
      Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()">
      Confirmar
    </button>
  </div>
</div>